{% extends 'base.html' %}
{% block title %}hey title{% endblock title %}
{% block body %}
<div class="contact" id="c6">
    <div class="contact-msg">
      <h4>Contact Snack Theater</h4>
      <h5>We offer a wide range of services.Have a question? Need help? get in touch with us using the form below.</h5>
    </div>
    <form class="contact-form" method="post" action="/products/contact">
      {% csrf_token %}
      <p>
        <label for="name">  Name:</label>
        <input class="name" type="text" name="name" id="Name" placeholder=" Enter your name" autocomplete="on" required>
      </p>
      <p>
        <label for="email"> E-mail:</label>
        <input class="email" type="email" name="email" id="email" placeholder="  Samplegmail@gmail.com" autocomplete="on" required>
      </p>
      <p class="msgarea">
        <label for="message">Message box:</label>
        <textarea name="message" rows="4" cols="15" placeholder="Add your message..!">
          </textarea>
      </p>
      <button class="send" type="submit">Send</button>
    </form>
  </div>
{% endblock body %}